
@{
    ViewBag.Title = "Field Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/GeneralMaster-CSS")
}
<div class="panel panel-inverse" id="main-panel">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
                <i class="fa fa-expand"></i>
            </a>
        </div>
        <h4 class="panel-title"><span class="fa fa-list-alt"></span>  @ViewBag.Title</h4>
    </div>
    <div class="panel-body p-0">
    </div>
    <div class="hljs-wrapper">
        <div class="row ">
            <div class="col-md-6">
                <div class="panel panel-inverse" id="main-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">  Type Master</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-sm-4 m-b-5 ReadAndWrite">
                                <button type="button" id="btnNewType" class="btn btn-sm btn-primary btn-block"><span class="fa fa-plus"></span><span class="btnLabel"> Add</span></button>
                            </div>
                            @*<div class="col-sm-4 m-b-5">
                                    <button type="button" id="btnEditType" class="btn btn-sm btn-info btn-block" disabled><span class="fa fa-edit"></span><span class="btnLabel"> Edit</span></button>
                                </div>*@
                            <div class="col-sm-4 m-b-5 DeleteEnabled">
                                <button type="button" id="btnDeleteType" class="btn btn-sm btn-danger btn-block" disabled><span class="fa fa-trash-alt"></span><span class="btnLabel"> Delete</span></button>
                            </div>
                        </div>
                        <table id="tblType" class="table zebraStyle  table-bordered tbl-100p" data-adjust="-30"></table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-inverse" id="main-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">  Value Master</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-sm-4 m-b-5 ReadAndWrite">
                                <button type="button" id="btnNewGeneral" class="btn btn-sm btn-primary btn-block"><span class="fa fa-plus"></span><span class="btnLabel"> Add</span></button>
                            </div>
                            <div class="col-sm-4 m-b-5 ReadAndWrite">
                                <button type="button" id="btnEditGeneral" class="btn btn-sm btn-info btn-block" disabled><span class="fa fa-edit"></span><span class="btnLabel"> Edit</span></button>
                            </div>
                            <div class="col-sm-4 m-b-5 DeleteEnabled">
                                <button type="button" id="btnDeleteGeneral" class="btn btn-sm btn-danger btn-block" disabled><span class="fa fa-trash-alt"></span><span class="btnLabel"> Delete</span></button>
                            </div>
                        </div>
                        <table id="tblGeneral" class="table zebraStyle  table-bordered tbl-100p" data-adjust="-30"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="mdlGeneral" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mdlGeneralTitle"> Create Value</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-parsley-validate="true" id="frmGeneral">
                <div class="modal-body">
                    <div class="input-group input-group-sm m-b-5">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:80px;" for="Type"> Type <span class="text-danger"> *</span></label>
                        </div>
                        <select id="TypeID" name="TypeID" class="form-control input onChangeParsley" data-parsley-required data-parsley-errors-container="#err-Type"></select>
                    </div>
                    <div id="err-Type"></div>
                    <div class="input-group input-group-sm m-b-5">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:80px;" for="Value"> Value <span class="text-danger"> *</span></label>
                        </div>
                        <input type="text" id="Value" name="Value" class="form-control input" placeholder="Value" data-parsley-required data-parsley-maxlength="255" data-parsley-errors-container="#err-Value" autocomplete="off">
                    </div>
                    <div id="err-Value"></div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="ID" class="input" id="GeneralID" value="0" />
                    <button type="submit" class="btn btn-sm btn-primary ReadAndWrite" id="btnSaveGeneral"> <span class="fa fa-save"></span> <span class="btnLabel"> Save</span></button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCancelGeneral"><span class="fa fa-times"></span> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade " id="mdlType" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mdlTypeTitle"> Create Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-parsley-validate="true" id="frmType">
                <div class="modal-body">
                    <div class="input-group input-group-sm m-b-5">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:80px;" for="Type"> Type <span class="text-danger"> *</span></label>
                        </div>
                        <input type="text" id="Type" name="Type" class="form-control input" placeholder="Type" data-parsley-required data-parsley-maxlength="255" data-parsley-errors-container="#err-Type" autocomplete="off">
                    </div>
                    <div id="err-Type"></div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="ID" class="input" id="TypeMainID" value="0" />
                    <button type="submit" class="btn btn-sm btn-primary ReadAndWrite" id="btnSaveType"> <span class="fa fa-save"></span> <span class="btnLabel"> Save</span></button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCancelType"><span class="fa fa-times"></span> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/GeneralMaster-JS")
}
