@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login | FOPH Warehouse Management System</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />


    @Styles.Render("~/Login-CSS")

    <link href="~/Content/assets/css/default/theme/green.css" rel="stylesheet" id="theme" />
    <link rel="icon" href="~/Content/assets/img/logo/favicon.ico" type="image/x-icon">
    <style>
        .theme-panel.theme-panel-lg .theme-collapse-btn {
            top: 15px;
        }

        .login.login-with-news-feed .login-header {
            width: 100%;
            padding: 100px 60px 0px 60px;
        }

        .parsley-errors-list > li {
            text-align: left !important;
        }
    </style>
</head>
<body class="pace-top bg-white">
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <div id="loading_modal" class="modal loading_modal" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="~/Content/assets/img/ajax-loader.gif" height="100" class="block-centered">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-container" class="fade">
        <div class="login login-with-news-feed">
            <div class="news-feed">
                <div class="news-image" style="background-image: url(/Content/assets/css/default/images/cover-sidebar-user.jpg)">
                    @*<div class="container" style="padding:60px;">
                        <h1 class="text-white m-b-20">OUR MISSION</h1>
                        <h2 class="text-white">
                            To keep an accurate and effective supply chain.
                        </h2>
                        <h2 class="text-white">
                            To assure accurate and competitive purchase cost.
                        </h2>
                        <h4 class="text-white">
                            - TRP Purchasing Department
                        </h4>
                    </div>*@
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>Warehouse </b> Management System</h4>
                    <p>
                        &copy; FOPH - Warehouse Management System 2020
                    </p>
                </div>
            </div>
            <div class="right-content">
                <div class="login-header">
                    <div class="brand text-center">

                        <img src="~/Content/assets/img/logo/fujifilm-logo.jpg" class="m-b-15" style="width:100%;"/>@*<span class="logo"></span>*@<br />
                        <b>Warehouse Management</b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <div class="login-content">
                    <form id="frmLogin" class="margin-bottom-0" data-parsley-validate>
                        @Html.AntiForgeryToken()
                        <div class="form-group m-b-15">
                            <input type="text" id="Username" name="Username" class="form-control form-control-lg" placeholder="Username" required data-parsley-error-message="Please enter your Username." autocomplete="off" />
                        </div>
                        <div class="form-group m-b-15">
                            <input type="password" id="Password" name="Password" class="form-control form-control-lg" placeholder="Password" required data-parsley-error-message="Please enter your Password." autocomplete="off" />
                        </div>
                        @*<div class="checkbox checkbox-css m-b-30">
                                <input type="checkbox" id="remember_me_checkbox" value="" />
                                <label for="remember_me_checkbox">
                                    Remember Me
                                </label>
                            </div>*@
                        <br />
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                        </div>
                        <hr />
                        <p class="text-center text-grey-darker">
                            &copy; FOPH - Warehouse Management System 2020
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="theme-panel theme-panel-lg">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="/Content/assets/css/default/theme/red.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="/Content/assets/css/default/theme/pink.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="/Content/assets/css/default/theme/orange.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="/Content/assets/css/default/theme/yellow.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="/Content/assets/css/default/theme/lime.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="/Content/assets/css/default/theme/green.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-teal" data-theme="default" data-theme-file="/Content/assets/css/default/theme/default.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="/Content/assets/css/default/theme/aqua.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="/Content/assets/css/default/theme/blue.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="/Content/assets/css/default/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="/Content/assets/css/default/theme/indigo.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="/Content/assets/css/default/theme/black.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Header Styling</div>
                    <div class="col-md-6">
                        <select name="header-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Header</div>
                    <div class="col-md-6">
                        <select name="header-fixed" class="form-control form-control-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Styling</div>
                    <div class="col-md-6">
                        <select name="sidebar-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Sidebar</div>
                    <div class="col-md-6">
                        <select name="sidebar-fixed" class="form-control form-control-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Gradient</div>
                    <div class="col-md-6">
                        <select name="content-gradient" class="form-control form-control-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Content Styling</div>
                    <div class="col-md-6">
                        <select name="content-styling" class="form-control form-control-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-6 control-label text-inverse f-w-600">Direction</div>
                    <div class="col-md-6">
                        <select name="direction" class="form-control form-control-sm">
                            <option value="1">LTR</option>
                            <option value="2">RTL</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Login-JS")
    <!--[if lt IE 9]>
        <script src="/Content/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="/Content/assets/crossbrowserjs/respond.min.js"></script>
        <script src="/Content/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>
