
@{
    ViewBag.Title = "User Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/UserMaster-CSS")
    <style>
        /*.modal-body {
            background: #d9e0e7 !important;
        }*/

        ul {
            list-style: none;
        }
    </style>
}
<div class="panel panel-inverse" id="main-panel">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
                <i class="fa fa-expand"></i>
            </a>
        </div>
        <h4 class="panel-title"><span class="fa fa-user"></span>  @ViewBag.Title</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-lg-7">
                <div class="row">
                    <div class="col-sm-3 m-b-5 ReadAndWrite">
                        <button type="button" id="btnAddUser" class="btn btn-sm btn-primary btn-block "><span class="fa fa-plus"></span><span class="btnLabel"> Add</span></button>
                    </div>
                    <div class="col-sm-3 m-b-5 ReadAndWrite">
                        <button type="button" id="btnEditUser" class="btn btn-sm btn-info btn-block " disabled><span class="fa fa-edit"></span><span class="btnLabel"> Edit</span></button>
                    </div>
                    <div class="col-sm-3 m-b-5 DeleteEnabled">
                        <button type="button" id="btnDeleteUser" class="btn btn-sm btn-danger btn-block " disabled><span class="fa fa-trash-alt"></span><span class="btnLabel"> Delete</span></button>
                    </div>
                    <div class="col-sm-3 m-b-5">
                        <button type="button" id="btnUserAccess" class="btn btn-sm btn-success btn-block" disabled><span class="fa fa-list"></span><span class="btnLabel"> Access</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hljs-wrapper">
        <table id="tblUser" class="table zebraStyle  table-bordered tbl-100p" data-adjust="-30"></table>
    </div>
</div>
<div class="modal fade " id="mdlUserAccess" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="fa fa-list"></span> User Access</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mdlBodyUserAccess">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary ReadAndWrite" id="btnSaveUserAccess"> <span class="fa fa-save"></span> Save</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><span class="fa fa-times"></span> Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="mdlUser" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mdlUserTitle"> Create User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-parsley-validate="true" id="frmUser">
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="Username">Username <span class="text-danger">*</span></label>
                                </div>
                                <input type="text" id="Username" name="Username" class="form-control input" data-parsley-required data-parsley-maxlength="20" data-parsley-errors-container="#err-Username" autocomplete="off">
                            </div>
                            <div id="err-Username"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="Email">Email <span class="text-danger">*</span></label>
                                </div>
                                <input type="text" id="Email" name="Email" class="form-control input" data-parsley-type="email" data-parsley-required data-parsley-maxlength="255" data-parsley-errors-container="#err-Email" autocomplete="off">
                            </div>
                            <div id="err-Email"></div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="FirstName">First Name <span class="text-danger">*</span></label>
                                </div>
                                <input type="text" id="FirstName" name="FirstName" class="form-control input" required data-parsley-maxlength="255" data-parsley-errors-container="#err-FirstName" autocomplete="off">
                            </div>
                            <div id="err-FirstName"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="LastName">Last Name <span class="text-danger">*</span></label>
                                </div>
                                <input type="text" id="LastName" name="LastName" class="form-control input" required data-parsley-maxlength="255" data-parsley-errors-container="#err-LastName" autocomplete="off">
                            </div>
                            <div id="err-LastName"></div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="Password">Password <span class="text-danger">*</span></label>
                                </div>
                                <input type="text" id="Password" name="Password" class="form-control input" required data-parsley-maxlength="255" data-parsley-errors-container="#err-Password" autocomplete="off">
                                <span class="input-group-append clickable" id="btnGeneratePassword"><span class="input-group-text"><span class="fa fa-random"></span></span></span>
                            </div>
                            <div id="err-Password"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="Department">Department <span class="text-danger">*</span></label>
                                </div>
                                @*<input type="text" id="Department" name="Department" class="form-control input" required data-parsley-maxlength="255" data-parsley-errors-container="#err-Department" autocomplete="off">*@
                                <select id="Department" name="Department" class="form-control input" required data-parsley-errors-container="#err-Department"></select>
                            </div>
                            <div id="err-Department"></div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="PostFunction_Approver">Post/Approval <span class="text-danger">*</span></label>
                                </div>
                                <select id="PostFunction_Approver" name="PostFunction_Approver" class="form-control input" required data-parsley-errors-container="#err-PostFunction_Approver" autocomplete="off">
                                    <option value="">--Please Select--</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div id="err-PostFunction_Approver"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm m-b-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:101px;" for="Role">Role <span class="text-danger">*</span></label>
                                </div>
                                <select id="Role" name="Role" class="form-control input" required data-parsley-errors-container="#err-Role" autocomplete="off">
                                    <option value="">--Please Select--</option>
                                    <option value="Administrator">Administrator</option>
                                    <option value="Encoder">Encoder</option>
                                    <option value="Viewer">Viewer</option>
                                </select>
                                @*<div class="input-group-append" id="Custom" style="display:none;">
                                        <div class="input-group-text">
                                            <span class="fa fa-check"></span> Custom
                                        </div>
                                    </div>*@
                            </div>
                            <div id="err-Role"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="ID" id="UserID" value="0" />
                    <button type="submit" class="btn btn-sm btn-primary ReadAndWrite" id="btnSaveUser"> <span class="fa fa-save"></span> <span class="btnLabel"> Save</span></button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCancelUser"><span class="fa fa-times"></span> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/UserMaster-JS")
}
